<header class="header-container">
  <img src="../../images/bg-banner.png" alt="" class="logo-img">
  <nav>
    <div class="logo">
      <h1>We<span>Coach</span></h1>
    </div>
    <ul class="listnemu">
      <li><a href="#">코치찾기</a></li>
      <li><a href="#">코치로 등록하기</a></li>
      <li><a href="#">시설 및 장소 찾기</a></li>
      <li><a href="#">회원가입 로그인</a></li>
    </ul>
    <div class="clear"></div>
  </nav>
  <div class="banner">
    <div class="banner-content">
      <div class="male-player">
        <img src="../../images/malePlayer.png" alt="malePlayer" class="malePlayer">
        <img src="../../images/malePlayer-3.png" alt="malePlayer-3" class="malePlayer-3">
      </div>
      <div class="female-player">
        <img src="../../images/female Player.png" alt="female Player" class="female-Player">
        <img src="../../images/female Player-1.png" alt="female Player-1" class="femalePlayer-1">
      </div>
      <div class="text-banner">
        <div class="text-banner-top">
          <p>운동을 할 준비가 되셨나요?</p>
          <h2>여러분을 위한 코치가 여기 있습니다.</h2>
          <button class="btn-left">코치찾기</button>
          <button class="btn-right">코치등록</button>
        </div>
        <div class="text-banner-bottom">
          <h2>시설 및 장소 찾기</h2>
          <p>운동을 할 수 있는 곳이 어디 있을까?</p>
          <form action="">
            <input type="text">
          </form>
        </div>
      </div>
    </div>
  </div>
</header>